.App {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerTukiComponents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tukiChild {
  background-color: aqua;
  font-weight: bold;
}