/** Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}


.container{
  background-color: rgb(255, 255, 255);
  height: 11vh;
  width:100%;
  display: flex;
  position: fixed;
  top: 0;
}

.child {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid rgb(20, 19, 19);
}

.child.uno {
  width: 26%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.child.dos {
  width: 60%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.child.tres {
  width: 5%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.child.tres:hover{
  background-color: black;
  color: white;
}

.child.cuatro {
  width: 5%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.container2 {
  margin-top: 11vh;
  border: 1.5px solid rgb(26, 24, 24);
  height: 83vh;
  width:100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-image: url("https://www.esenzzia.com/modules/ps_imageslider/images/f84a8567c559b194fc58867a27b495da22b8a449_Post%20de%20Instagram%20rebajas%20ofertas%20descuentos%20femenino%20rosa%20(1947%C2%A0%C3%97%C2%A0876%C2%A0px)%20(1).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.child-button-uno {
  background-color: black;
  border: 2px solid black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  height: 40px;
  width: 200px;
  padding: 20px;
  margin: 30px;
  font-family: 'Roboto', sans-serif;
}

.child-button-uno:hover {
  background-color: white;
  color: black;
  transition-duration: 0.5s;
}

.child-button-dos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-right: 30px;
  padding: 20px 10px;
  background-color: black;
  color: white;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 700;
  width: 80px;
  height: 40px;
  border: 2px solid white;
  font-family: 'Roboto', sans-serif;
  position: fixed;
  left: 90%;
}

.child-button-dos:hover {
  background-color: white;
  color: black;
  transition-duration: 0.5s;
  border: 1.5px solid black;
}

.container-z {
  height: 6vh;
  border: 1.5px solid black;
  padding-left: 30px;
  display: flex;
  align-items: center;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}

.container3 {
  background-color: rgb(255, 255, 255);
  border: 1.3px solid rgb(26, 24, 24);
  height: 100vh;
  width:100%;
  display: flex;
}

.container3-child1 {
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  padding: 20px;
  padding-top: 200px ;
  font-family: 'Roboto', sans-serif;
}

.container3-child2 {
  width: 100vh;
  height: 70vh ;
  font-size: 250px;
  color: rgb(124, 117, 117);
  text-align: center;
  border:none;
  text-decoration-line: underline; 
}


.container3-child3 {
  display: flex;
  align-self: flex-end;
  width: 100vh;
  height: 27vh;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Roboto', sans-serif;
}

.container3-child3-1 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.container3-child3-1:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}
  
.container-mas-vendidos{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 20px;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
}

.text-vendidos {
  width: 95%;
}

.container-btn {
  width: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  height: 100%;
  width: 30px;
  color: grey;
  background-color: white;
  border: none;
}

.container-cards {
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.card {
  width: 23%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.link-vendidos a {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  text-decoration-color: none;
  font-style: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.p-white {
  color: white;
}

.descuento {
  display: flex;
  justify-content: space-between;
  color: white;
  
}

.desc-porcent {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px ;
  padding: 5px;
}

.floral {
  padding: 10px;
  font-size: 12px ;
  font-weight: 500;
}

.codigo {
  color: white;
  font-size: 100px;
  font-weight: 700;
  align-self: center;
  
}

.informacion {
  padding: 5px 35px;
}

footer {
  height: 100vh;
  width: 100vw;
  background-color:black ;
}
