#fetch-petition {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.card {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  margin: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

p {
  text-align: center;
}