/* Reset */
*, 
*::after, 
*::before {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

/* General */
body {
  font-family: 'Indie Flower', cursive;
}

h1 {
  text-align: center;
  padding: 2rem 0rem;
}

p {
  text-align: center;
  margin-bottom: 1rem;
}
/* Cards */
#jsonplaceholder h2 {
  background-color: rgb(217, 255, 0);
}

#jsonplaceholder #fetch-petition {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#jsonplaceholder .card {
  width: 200px;
  height: 300px;
  border: 1px solid black;
  margin: 7px;
  padding: 7px;
  display: flex;
  flex-direction: column;
}

#jsonplaceholder .card-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  height: 70px;
}

#jsonplaceholder .card-title {
  flex-direction: column;
  flex-grow: 1;
}

/* pokemon */
.pokemon h2 {
  text-align: center;
}